<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		{% seo %}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
		<meta name="application-name" content="{{ site.title }}">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ site.color }}">
		<meta name="msapplication-TileColor" content="{{ site.color }}">
		<meta name="theme-color" content="#ffffff">
		<link type="application/rss+xml" rel="alternate" title="Made of People Podcast" href="/podcast.xml"/>

		<link rel="stylesheet" href="/css/site.min.css" />
	</head>
	<body>
		<div class="container-fluid">
			<a class="navbar-brand text-black" href="/">
				Made of People Podcast
			</a>
		</div>

		{{ content }}

		<footer class="footer bg-pink py-5">
		</footer>

		<script async src="/js/site.js"></script>
	</body>
</html>
